
.footer{
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
.footer-container{
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MainMenu{
    font-weight: bold;
}
.footer-nav{
    display: flex;
    gap:0.5rem;
} 
.copyright{
    font-size: small;
    text-align: center;
}

.footer-left-right-links{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width:569px) {
    .footer-left-right-links,.footer-nav{
        flex-direction: column;
        align-items: center;
    }

}
