@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color:#FFFFFF;
  --secondary-color: #333333;
  --call-to-action:   #4CAF50;
}
.about-page{
  background-image: url('/mainphoto.webp'); /* Replace 'your-image.jpg' with the path to your image */
      background-size: cover; /* This property ensures the image covers the entire div */
      background-position: center; /* This property centers the image within the div */
}
.notice{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.explore{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn {
  background-color: var(--call-to-action);
  /* Add more styles as needed */
}


.icons-cta{
  min-width: 4rem;
  min-height: 4rem;
  color: var(--call-to-action);
}
.carousel-image{
  height: 400px;
  overflow: hidden;
}
section{
  padding: 2rem;
}
a:hover{
  color: var(--call-to-action);
}



html{
  font-size: 21px;

}
@media (max-width:768px) {
  html{
    font-size: 19px;
  }
  .stages{
    flex-direction: column;
    
  }
}
@media (max-width:425px) {
  html{
    font-size: small;
  }
}
.underline-text{
  text-decoration: underline;
}

.loader{
  display: "block";
  margin: "0 auto";
  border-color: "red";
}